/*
 *
 * MMM-TankLevel
 *
 * Author: pwandrag
 * MIT Licensed.
 *
 */

 .MMM-TankLevel {
  display: block;

 }

  .tank {
    width: 100%;
    height: 80%;
    border: 5px solid #555;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    background-color: #3f3e3e;
  }
		
  .tank-top {
    width: 40%;
    height: 10%;
    border: 5px solid #555;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    background-color: #757171;
    margin-left:30%;
    margin-bottom:-3px;
    font-size: 24px;
    font-family: monospace;
    text-align: center;
    color: wheat;
    min-height: 30px;
    }
		
  .tank-bottom {
    width: 100%;
    height: 5%;
    border: 5px solid #555;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    background-color: #757171;
    margin-top:-3px;
    }
		
		
  .tank-element{
    width: 100%;
    height: 90%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }  

  .tank-container {
    height:100%;
    width:25%;
		--fill-level: 50%;
		--fill-level-surge: 40%  
  }

  .gas {
      width: 100%;
      height: var(--fill-level); /* 75% filled */
      background-color: rgba(0, 255, 0, 0.473); /* Green gas */
      position: absolute;
      bottom: 0;
      animation: rise 20s infinite;
  }

  .gas-level{
    margin-left:5px;
    margin-top:5px;
    font-family:monospace;
    font-size:20px;
    color: wheat;
  }
 
  .bubble {
      position: relative;
      background-color: white;
      border-radius: 50%;
      opacity: 0.7;
      animation: float 3s infinite;
  }
 
  @keyframes float {
      0% {
          transform: translateY(0%);
          opacity: 0.7;
      }
      50% {
          transform: translateY(-100%);
          opacity: 0;
      }
      100% {
          transform: translateY(0%);
          opacity: 0.7;
      }
  }

  @keyframes rise {
      0% {
          height: var(--fill-level);
      }
      50% {
          height: var(--fill-level-surge);
      }
      100% {
          height: var(--fill-level);
      }
  }